Repository open-education-hub/operating-systems, changes with the labels that .github/labeler.yml gives for each.
All labels: topic/software-stack, topic/data, topic/compute, topic/io, topic/app-interact, area/quiz, area/content, area/code, area/infra, area/assignment

util: Delete deprecated update-repo
  util/update-repo.sh
Labels: area/infra

util: Add super-linter script to be able to run it locally
  util/super-linter.sh
Labels: area/infra

Apply suggestions from code review
  util/super-linter.sh
Labels: area/infra

util: Delete deprecated update-repo
  util/update-repo.sh
Labels: area/infra

util: Add super-linter script to be able to run it locally
  util/super-linter.sh
Labels: area/infra

software-stack/lab: Remove inline html
  content/chapters/software-stack/lab/content/modern-sw-stack.md
  content/chapters/software-stack/lab/content/overview.md
  content/chapters/software-stack/lab/media/hardware-software.svg
  content/chapters/software-stack/lab/media/modern-sw-stack.svg
  content/chapters/software-stack/lab/media/software-stack.svg
Labels: topic/software-stack

Add gitignore and Makefile to solution
  content/chapters/io/lab/solution/pipes/.gitignore
  content/chapters/io/lab/solution/pipes/Makefile
Labels: topic/io

Close pipe if stdin closes
  content/chapters/io/lab/solution/pipes/anonymous_pipe.c
  content/chapters/io/lab/support/pipes/anonymous_pipe.c
Labels: topic/io

Use fgets to read from stdin
  content/chapters/io/lab/solution/pipes/anonymous_pipe.c
  content/chapters/io/lab/support/pipes/anonymous_pipe.c
Labels: topic/io

Add sample output
  content/chapters/io/lab/content/pipes.md
Labels: topic/io

util: Add docker environment to run labs
  util/os-runner/Dockerfile
  util/os-runner/Makefile
  util/os-runner/install-dmd.sh
Labels: area/infra

Reorder chapter order
  config.yaml
Labels: area/infra

Explain the write() system call
  content/chapters/software-stack/lab/content/basic-syscall.md
Labels: topic/software-stack

Add a section to explain syscalls
  content/chapters/software-stack/lab/content/basic-syscall.md
  content/chapters/software-stack/lab/media/syscall-explained.drawio
  content/chapters/software-stack/lab/media/syscall-explained.svg
Labels: topic/software-stack

Reorder chapter order
  config.yaml
Labels: area/infra

io/lab: Explain the need for loops when using read/write
  content/chapters/io/lab/content/file-descriptors.md
Labels: topic/io

Update content/chapters/software-stack/lab/content/basic-syscall.md
  content/chapters/software-stack/lab/content/basic-syscall.md
Labels: topic/software-stack

Update content/chapters/software-stack/lab/content/basic-syscall.md
  content/chapters/software-stack/lab/content/basic-syscall.md
Labels: topic/software-stack

Update content/chapters/software-stack/lab/content/basic-syscall.md
  content/chapters/software-stack/lab/content/basic-syscall.md
Labels: topic/software-stack

Fix linter errors
  content/chapters/software-stack/lab/content/basic-syscall.md
Labels: topic/software-stack

software-stack/lab: Explain the `write()` system call
  content/chapters/software-stack/lab/content/basic-syscall.md
Labels: topic/software-stack

Update content/chapters/io/lab/content/file-descriptors.md
  content/chapters/io/lab/content/file-descriptors.md
Labels: topic/io

io/lab: Explain the need for loops when using `read()/write()`
  content/chapters/io/lab/content/file-descriptors.md
Labels: topic/io

Apply suggestion to Makefile and add README.md
  util/os-runner/Makefile
  util/os-runner/README.md
Labels: area/infra

Move bash configuration to a separate script
  util/os-runner/Dockerfile
  util/os-runner/config_terminal.sh
Labels: area/infra

Update util/os-runner/README.md
  util/os-runner/README.md
Labels: area/infra

Update util/os-runner/README.md
  util/os-runner/README.md
Labels: area/infra

Update util/os-runner/README.md
  util/os-runner/README.md
Labels: area/infra

Suppress SC1007, SC2154, and DL3008
  util/os-runner/Dockerfile
  util/os-runner/config_terminal.sh
Labels: area/infra

Update util/os-runner/Makefile
  util/os-runner/Makefile
Labels: area/infra

Update util/os-runner/README.md
  util/os-runner/README.md
Labels: area/infra

Update util/os-runner/README.md
  util/os-runner/README.md
Labels: area/infra

.github/labeler.yml:

topic/software-stack:
  - content/chapters/software-stack/**/*

topic/data:
  - content/chapters/data/**/*

topic/compute:
  - content/chapters/compute/**/*

topic/io:
  - content/chapters/io/**/*

topic/app-interact:
  - content/chapters/app-interact/**/*

area/quiz:
  - '**/quiz/*'

area/content:
  - any: ['**/lab/content/*.md', '**/media/**/*', '**/lecture/slides/**/*',
    '**/*.mdpp']

area/code:
  - any: ['**/lab/support/**/*', '**/lab/solution/**/*', '**/lecture/demo/**/*']

area/infra:
  - '!content/chapters/**/*'

area/assignment:
  - assignments/**/*
