Repository open-education-hub/operating-systems, pull requests merged in 2022-12, with the labels that each got.

#54 io/lab: Fix file descriptor table
  content/chapters/io/lab/content/file-descriptors.md
Labels: bug, documentation

#55 Add Remote IO lab
  content/chapters/io/lab/content/beyond-network-sockets.md
  content/chapters/io/lab/content/client-server-model.md
  content/chapters/io/lab/content/local-io-in-action.md
  content/chapters/io/lab/content/networking-101.md
  content/chapters/io/lab/content/overview.md
  content/chapters/io/lab/content/remote-io.md
  content/chapters/io/lab/media/browser-tabs.svg
  content/chapters/io/lab/media/connection-establishment.svg
  content/chapters/io/lab/media/software-stacks-everywhere.jpeg
  content/chapters/io/lab/media/standard-us-power-outlet.jpg
  content/chapters/io/lab/media/tcp-udp-simplified.png
  content/chapters/io/lab/quiz/bind-error-cause.md
  content/chapters/io/lab/quiz/client-server-sender-receiver.md
  content/chapters/io/lab/quiz/deluge-tcp-udp.md
  content/chapters/io/lab/quiz/firefox-tcp-udp.md
  content/chapters/io/lab/quiz/local-io-errors.md
  content/chapters/io/lab/quiz/receiver-socket-fd.md
  content/chapters/io/lab/solution/client-server/client.py
  content/chapters/io/lab/support/client-server/client.py
  content/chapters/io/lab/support/client-server/server.py
  content/chapters/io/lab/support/send-receive/receiver.py
  content/chapters/io/lab/support/send-receive/sender.py
Labels: documentation, enhancement

#59 Add "Remote I/O" subsections to `config.yaml`
  config.yaml
Labels: bug, documentation

#62 `slides.mk`: Add '-vf format=yuv420p' flag to ffmpegAdd '-vf format=yuv420p' flag to ffmpeg
  content/common/makefile/slides.mk
Labels: enhancement

#69 io/lecture: Add third part of the lecture (Optimizations)
  content/chapters/io/lecture/demo/optimizations/.gitignore
  content/chapters/io/lecture/demo/optimizations/Makefile
  content/chapters/io/lecture/demo/optimizations/README.md
  content/chapters/io/lecture/demo/optimizations/async_server.py
  content/chapters/io/lecture/demo/optimizations/client.py
  content/chapters/io/lecture/demo/optimizations/client_bench.sh
  content/chapters/io/lecture/demo/optimizations/fwrite-10000.c
  content/chapters/io/lecture/demo/optimizations/mp_server.py
  content/chapters/io/lecture/demo/optimizations/mt_server.py
  content/chapters/io/lecture/demo/optimizations/server.py
  content/chapters/io/lecture/demo/optimizations/stdout-vs-stderr.c
  content/chapters/io/lecture/demo/optimizations/write-1000-unbuf.c
  content/chapters/io/lecture/demo/optimizations/write-10000.c
  content/chapters/io/lecture/media/epoll-create.svg
  content/chapters/io/lecture/media/epoll-ctl-1.svg
  content/chapters/io/lecture/media/epoll-ctl-2.svg
  content/chapters/io/lecture/media/epoll-ctl-3.svg
  content/chapters/io/lecture/media/epoll-ctl-4.svg
  content/chapters/io/lecture/media/epoll-ctl-5.svg
  content/chapters/io/lecture/media/epoll-ctl-6.svg
  content/chapters/io/lecture/media/epoll-wait.svg
  content/chapters/io/lecture/media/io-buffering-overview.svg
  content/chapters/io/lecture/media/repeated-copy.svg
  content/chapters/io/lecture/media/zero-copy.svg
  content/chapters/io/lecture/slides.mdpp
  content/chapters/io/lecture/slides/IPC.md
  content/chapters/io/lecture/slides/optimizations.md
Labels: documentation, enhancement

#73 Fix some typos in subsection headers from the I/O Lab
  content/chapters/io/lab/content/io-internals.md
  content/chapters/io/lab/content/pipes.md
Labels: bug, documentation

#78 io/lab: Fix time command
  content/chapters/io/lab/content/async-io.md
Labels: bug, documentation

#86 workflows: Add checkpatch.pl
  .checkpatch.conf
  .github/workflows/checkpatch.yml
Labels: enhancement, student-contrib, area/infra, kind/new

#88 io/lecture: Add datagram UNIX domain demo
  content/chapters/io/lecture/demo/IPC/Makefile
  content/chapters/io/lecture/demo/IPC/README.md
  content/chapters/io/lecture/demo/IPC/network_datagram_socket_client.c
  content/chapters/io/lecture/demo/IPC/network_datagram_socket_server.c
  content/chapters/io/lecture/demo/IPC/network_stream_socket_client.c
  content/chapters/io/lecture/demo/IPC/network_stream_socket_server.c
  content/chapters/io/lecture/demo/IPC/unix_datagram_socket_client.c
  content/chapters/io/lecture/demo/IPC/unix_datagram_socket_server.c
  content/chapters/io/lecture/demo/IPC/unix_stream_socket_client.c
  content/chapters/io/lecture/demo/IPC/unix_stream_socket_server.c
Labels: student-contrib, area/code, kind/new, topic/io

#92 compute/lab: Fix typos and remove redundant links
  content/chapters/compute/lab/content/benchmarks.md
  content/chapters/compute/lab/content/processes-threads-apache2.md
  content/chapters/compute/lab/content/processes.md
  content/chapters/compute/lab/content/scheduling.md
  content/chapters/compute/lab/content/synchronization.md
Labels: student-contrib, area/content, kind/improve, kind/fix, topic/compute
