Repository open-education-hub/operating-systems, pull requests merged in 2022-11, with the labels that each got.

#22 Move `compute/lab/README.md` to `compute/lab/content/overview.md`
  content/chapters/compute/lab/content/overview.md
Labels: bug

#24 Disable clang-format from super-linter
  .github/workflows/super-linter.yml
  content/.clang-format
Labels: enhancement

#31 Simplify `compute/lab/support/sum-array-bugs/seg-fault/sum_array_processes.d`
  content/chapters/compute/lab/support/sum-array-bugs/seg-fault/Makefile
  content/chapters/compute/lab/support/sum-array-bugs/seg-fault/sum_array_processes.d
Labels: bug

#32 Fix Thread init argument
  content/chapters/compute/lab/support/apache2-simulator/apache2_simulator_condition.py
Labels: bug

#37 compute/lab: Add -p argument to ps command
  content/chapters/compute/lab/content/copy-on-write.md
Labels: bug, documentation

#28 Improve process creation demos in the Compute lecture
  content/chapters/compute/lecture/demo/create-process/.gitignore
  content/chapters/compute/lecture/demo/create-process/Makefile.linux
  content/chapters/compute/lecture/demo/create-process/README.md
  content/chapters/compute/lecture/demo/create-process/fork.c
  content/chapters/compute/lecture/demo/create-process/multiple_forks.c
Labels: enhancement

#35 Improve atomic assembly explanation in the Compute lab
  content/chapters/compute/lab/content/synchronization.md
  content/chapters/compute/lab/solution/race-condition/d/race_condition_atomic.d
  content/chapters/compute/lab/support/race-condition/d/race_condition_atomic.d
Labels: documentation

#36 common/makefile: Get rid of -Werror
  content/common/makefile/defs.mk
Labels: enhancement

#38 Update infrastructure to address cpplint errors
  content/CPPLINT.cfg
  content/common/makefile/defs.mk
  content/common/utils/log/CPPLINT.cfg
  content/common/utils/utils.h
Labels: bug

#39 Fix `libult` folder name in the Compute lab documentation
  content/chapters/compute/lab/content/scheduling.md
Labels: bug, documentation

#20 Add IO lecture
  content/chapters/io/lecture/.gitignore
  content/chapters/io/lecture/demo/file-interface/.gitignore
  content/chapters/io/lecture/demo/file-interface/Makefile
  content/chapters/io/lecture/demo/file-interface/README.md
  content/chapters/io/lecture/demo/file-interface/c-file-ops.c
  content/chapters/io/lecture/demo/file-interface/close-stdout.c
  content/chapters/io/lecture/demo/file-interface/open-vs-dup.c
  content/chapters/io/lecture/demo/file-interface/py-file-ops.py
  content/chapters/io/lecture/demo/file-interface/sparse-file.c
  content/chapters/io/lecture/demo/file-interface/sparse.dat
  content/chapters/io/lecture/demo/file-interface/truncate.c
  content/chapters/io/lecture/media/bad-IPC.svg
  content/chapters/io/lecture/media/char-block-devices.svg
  content/chapters/io/lecture/media/data-mem.svg
  content/chapters/io/lecture/media/dev-mouse-keyboard.png
  content/chapters/io/lecture/media/dev-sensors.png
  content/chapters/io/lecture/media/dev-storage.png
  content/chapters/io/lecture/media/devices.png
  content/chapters/io/lecture/media/file-descriptor-table.svg
  content/chapters/io/lecture/media/file-interface-close.svg
  content/chapters/io/lecture/media/file-interface-dup.svg
  content/chapters/io/lecture/media/file-interface-ftruncate.svg
  content/chapters/io/lecture/media/file-interface-lseek.svg
  content/chapters/io/lecture/media/file-interface-open.svg
  content/chapters/io/lecture/media/file-interface-read-write.svg
  content/chapters/io/lecture/media/interactive-software.png
  content/chapters/io/lecture/media/roadmap-Compute.svg
  content/chapters/io/lecture/media/roadmap-Data.svg
  content/chapters/io/lecture/media/roadmap-IO.svg
  content/chapters/io/lecture/media/roadmap.svg
  content/chapters/io/lecture/media/unnamed-pipe-IPC.svg
  content/chapters/io/lecture/media/vas-pas.png
  content/chapters/io/lecture/slides.mdpp
  content/chapters/io/lecture/slides/file-interface.md
  content/chapters/io/lecture/slides/interprocess-communication.md
  content/chapters/io/lecture/slides/intro.md
  content/chapters/io/lecture/slides/linux-files.md
Labels: WIP

#44 Add I/O lab to `config.yml`
  config.yaml
Labels: documentation

#45 config.yml: Fix indentation for I/O lab
  config.yaml
Labels: bug

#42 workflows: Configure and disable Markdown linter options
  .github/workflows/config/config.json
Labels: enhancement

#47 Fix references to `simple-file-handling/` in the I/O lab
  content/chapters/io/lab/content/file-handlers.md
Labels: bug

#53 Fix path to `write-file-permissions.md` quiz
  content/chapters/io/lab/content/file-descriptors.md
Labels: bug, documentation
