Repository open-education-hub/operating-systems, pull requests merged in 2022-10, with the labels that each got.

#14 .gitignore: Ignore temporary files
  .gitignore
Labels: enhancement

#17 .github: Fix md101.js syntax
  .github/workflows/rules/md101.js
Labels: bug

#12 Add makefile rules to generate videos and merge lecture slides
  content/common/makefile/slides.mk
  content/common/test/Makefile
  content/common/test/c/.gitignore
  content/common/test/c/Makefile
  content/common/test/c/open.c
  content/common/test/slides/.gitignore
  content/common/test/slides/Makefile
  content/common/test/slides/file1.mdpp
  content/common/test/slides/file2.mdpp
  content/common/test/slides/file3.mdpp
  content/common/test/slides/media/.gitignore
  content/common/test/slides/media/block/block-1.svg
  content/common/test/slides/media/block/block-2.svg
Labels: enhancement

#16 Add configuration file for cpplint
  content/CPPLINT.cfg
Labels: enhancement

#19 util: Add script to update repository
  util/update-repo.sh
Labels: enhancement

#4 [WIP] Data lecture
  .gitignore
  content/chapters/data/lecture/Makefile
  content/chapters/data/lecture/demo/alloc_physical/Makefile
  content/chapters/data/lecture/demo/alloc_physical/alloc.c
  content/chapters/data/lecture/demo/performance/Makefile
  content/chapters/data/lecture/demo/performance/alloc.c
  content/chapters/data/lecture/demo/performance/copy.c
  content/chapters/data/lecture/demo/performance/reuse.c
  content/chapters/data/lecture/demo/performance/smart_alloc.c
  content/chapters/data/lecture/demo/proc_mem/Makefile
  content/chapters/data/lecture/demo/proc_mem/proc-1.c
  content/chapters/data/lecture/demo/proc_mem/proc-2.c
  content/chapters/data/lecture/demo/proc_pagemap/Makefile
  content/chapters/data/lecture/demo/proc_pagemap/devmem2.c
  content/chapters/data/lecture/demo/proc_pagemap/user_prog.c
  content/chapters/data/lecture/demo/proc_pagemap/virt_to_phys_user.c
  content/chapters/data/lecture/demo/proc_storage/Makefile
  content/chapters/data/lecture/demo/proc_storage/decl_var.c
  content/chapters/data/lecture/demo/proc_storage/write_var.c
  content/chapters/data/lecture/demo/security/Makefile
  content/chapters/data/lecture/demo/security/bo.c
  content/chapters/data/lecture/demo/security/io.c
  content/chapters/data/lecture/demo/security/nts.c
  content/chapters/data/lecture/demo/space_usage/Makefile
  content/chapters/data/lecture/demo/space_usage/pragma.c
  content/chapters/data/lecture/demo/space_usage/types.c
  content/chapters/data/lecture/demo/space_usage/union.c
  content/chapters/data/lecture/demo/variables/c_vars.c
  content/chapters/data/lecture/demo/variables/d_vars.d
  content/chapters/data/lecture/demo/variables/python_vars.py
  content/chapters/data/lecture/media/HP.svg
  content/chapters/data/lecture/media/HP2.svg
  content/chapters/data/lecture/media/OSVM.svg
  content/chapters/data/lecture/media/PL.svg
  content/chapters/data/lecture/media/SOP.svg
  content/chapters/data/lecture/media/Swap-arch.svg
  content/chapters/data/lecture/media/Swap.svg
  content/chapters/data/lecture/media/VM-1.svg
  content/chapters/data/lecture/media/VM.svg
  content/chapters/data/lecture/media/data-mem.svg
  content/chapters/data/lecture/media/data.svg
  content/chapters/data/lecture/media/lvl-data.svg
  content/chapters/data/lecture/media/pages.svg
  content/chapters/data/lecture/media/storing-agency.svg
  content/chapters/data/lecture/media/unit-interface.svg
  content/chapters/data/lecture/media/vm-example1.svg
  content/chapters/data/lecture/media/vm-example2.svg
  content/chapters/data/lecture/media/vm-example3.svg
  content/chapters/data/lecture/media/vm-example4.svg
  content/chapters/data/lecture/media/vm-example5.svg
  content/chapters/data/lecture/quiz/alloc.md
  content/chapters/data/lecture/quiz/index-out-of-bounds.md
  content/chapters/data/lecture/quiz/page_faults.md
  content/chapters/data/lecture/quiz/pl.md
  content/chapters/data/lecture/quiz/swap.md
  content/chapters/data/lecture/quiz/vm-draw.md
  content/chapters/data/lecture/quiz/vm-final.md
  content/chapters/data/lecture/slides.md
Labels: WIP
