Repository open-education-hub/operating-systems, pull requests merged in 2023-04, with the labels that each got.

#255 compute/lab: Rename `Benchmarks` section
  config.yaml
  content/chapters/compute/lab/content/hardware-perspective.md
  content/chapters/compute/lab/content/overview.md
Labels: area/content, kind/improve, topic/compute

#254 lab/{compute,data}: Move multithreaded process memory part from `Data` to `Compute`
  content/chapters/compute/lab/content/threads.md
  content/chapters/compute/lab/quiz/thread-memory.md
  content/chapters/compute/lab/support/multithreaded/.gitignore
  content/chapters/compute/lab/support/multithreaded/Makefile
  content/chapters/compute/lab/support/multithreaded/multithreaded.c
  content/chapters/data/lab/content/process-memory.md
Labels: area/content, area/code, area/quiz, kind/fix, topic/data, topic/compute

#256 lectures/compute: Add mention about `notify`
  content/chapters/compute/lecture/slides/notifications.md
Labels: area/content, kind/improve, topic/compute

#253 [lab/compute]: Add threads vs processes table, plus some explanations
  content/chapters/compute/lab/content/threads.md
Labels: area/content, kind/improve, topic/compute

#245 assignment/minishell: Add parser for minishell assignment
  content/assignments/minishell/util/.gitignore
  content/assignments/minishell/util/parser/CUseParser.c
  content/assignments/minishell/util/parser/DisplayStructure.cpp
  content/assignments/minishell/util/parser/Makefile
  content/assignments/minishell/util/parser/README.md
  content/assignments/minishell/util/parser/UseParser.cpp
  content/assignments/minishell/util/parser/parser.h
  content/assignments/minishell/util/parser/parser.l
  content/assignments/minishell/util/parser/parser.y
  content/assignments/minishell/util/parser/tests/negative_tests.txt
  content/assignments/minishell/util/parser/tests/small_tests.txt
  content/assignments/minishell/util/parser/tests/ugly_tests.txt
Labels: kind/new, area/assignment

#250 util/super-linter: Add interactive option
  util/super-linter.sh
Labels: area/infra, kind/improve

#271 lab/compute: Replace D with C in `Wait for Me Once More`
  content/chapters/compute/lab/content/threads.md
  content/chapters/compute/lab/support/wait-for-me/Makefile
  content/chapters/compute/lab/support/wait-for-me/wait_for_me_threads.c
  content/chapters/compute/lab/support/wait-for-me/wait_for_me_threads.d
Labels: area/content, area/code, kind/new, topic/compute

#273 config: Remove `readability/todo` filter from `cpplint`
  CPPLINT.cfg
Labels: area/infra, kind/improve

#272 lab/compute: Replace D with C in `seg-fault`
  content/chapters/compute/lab/content/threads.md
  content/chapters/compute/lab/support/sum-array-bugs/seg-fault/Makefile
  content/chapters/compute/lab/support/sum-array-bugs/seg-fault/generate_random_array.c
  content/chapters/compute/lab/support/sum-array-bugs/seg-fault/generate_random_array.d
  content/chapters/compute/lab/support/sum-array-bugs/seg-fault/include/array_utils.h
  content/chapters/compute/lab/support/sum-array-bugs/seg-fault/include/generate_random_array.h
  content/chapters/compute/lab/support/sum-array-bugs/seg-fault/sum_array_processes.c
  content/chapters/compute/lab/support/sum-array-bugs/seg-fault/sum_array_processes.d
  content/chapters/compute/lab/support/sum-array-bugs/seg-fault/sum_array_threads.c
  content/chapters/compute/lab/support/sum-array-bugs/seg-fault/sum_array_threads.d
Labels: area/content, area/code, kind/new, topic/compute

#266 data/lab: Add warning about running `benchmark_cp.sh`
  content/chapters/data/lab/content/process-memory.md
  content/chapters/data/lab/support/copy/benchmark_cp.sh
Labels: area/content, area/code, kind/improve, topic/data

#277 infra: Fix build error introduced by #262
  config.yaml
Labels: bug, area/infra, kind/fix

#270 lab/compute: Replace D code with C in `sum-array`
  content/chapters/compute/lab/content/arena.md
  content/chapters/compute/lab/content/processes.md
  content/chapters/compute/lab/content/threads.md
  content/chapters/compute/lab/support/common/Makefile
  content/chapters/compute/lab/support/sum-array/c/.gitignore
  content/chapters/compute/lab/support/sum-array/c/Makefile
  content/chapters/compute/lab/support/sum-array/c/generate_random_array.c
  content/chapters/compute/lab/support/sum-array/c/include/array_utils.h
  content/chapters/compute/lab/support/sum-array/c/include/generate_random_array.h
  content/chapters/compute/lab/support/sum-array/c/sum_array_processes.c
  content/chapters/compute/lab/support/sum-array/c/sum_array_sequential.c
  content/chapters/compute/lab/support/sum-array/c/sum_array_threads.c
  content/chapters/compute/lab/support/sum-array/c/sum_array_threads_openmp.c
  content/chapters/compute/lab/support/sum-array/d/Makefile
  content/chapters/compute/lab/support/sum-array/d/sum_array_processes.d
  content/chapters/compute/lab/support/sum-array/d/sum_array_sequential.d
  content/chapters/compute/lab/support/sum-array/d/sum_array_threads.d
Labels: area/content, area/code, kind/new, topic/compute

#282 io/lab: Explain UNIX sockets
  content/chapters/io/lab/content/beyond-network-sockets.md
Labels: area/content, kind/improve, topic/io

#284 io/lab: Explain the use of `mmap()` in loading dynamic libraries
  content/chapters/io/lab/content/file-mappings.md
Labels: area/content, kind/improve, topic/io

#285 compute/lab: Fix typos and punctuation
  content/chapters/compute/lab/content/arena.md
  content/chapters/compute/lab/content/copy-on-write.md
  content/chapters/compute/lab/content/hardware-perspective.md
  content/chapters/compute/lab/content/processes-threads-apache2.md
  content/chapters/compute/lab/content/processes.md
  content/chapters/compute/lab/content/scheduling.md
  content/chapters/compute/lab/content/synchronization.md
  content/chapters/compute/lab/content/threads.md
Labels: area/content, topic/compute
