Repository open-education-hub/operating-systems, pull requests merged in 2023-10, with the labels that each got.

#244 `assignment/mini-libc`: Add update for running with VMChecker
  content/assignments/mini-libc/README.md
  content/assignments/mini-libc/samples/Makefile
  content/assignments/mini-libc/src/Makefile
  content/assignments/mini-libc/src/crt/__libc_start_main.c
  content/assignments/mini-libc/src/crt/start.asm
  content/assignments/mini-libc/src/errno.c
  content/assignments/mini-libc/src/include/errno.h
  content/assignments/mini-libc/src/include/fcntl.h
  content/assignments/mini-libc/src/include/internal/arch/x86_64/syscall_arch.h
  content/assignments/mini-libc/src/include/internal/arch/x86_64/syscall_list.h
  content/assignments/mini-libc/src/include/internal/essentials.h
  content/assignments/mini-libc/src/include/internal/io.h
  content/assignments/mini-libc/src/include/internal/mm/mem_list.h
  content/assignments/mini-libc/src/include/internal/syscall.h
  content/assignments/mini-libc/src/include/internal/types.h
  content/assignments/mini-libc/src/include/stdarg.h
  content/assignments/mini-libc/src/include/stddef.h
  content/assignments/mini-libc/src/include/stdio.h
  content/assignments/mini-libc/src/include/stdlib.h
  content/assignments/mini-libc/src/include/string.h
  content/assignments/mini-libc/src/include/sys/mman.h
  content/assignments/mini-libc/src/include/sys/stat.h
  content/assignments/mini-libc/src/include/sys/types.h
  content/assignments/mini-libc/src/include/unistd.h
  content/assignments/mini-libc/src/io/close.c
  content/assignments/mini-libc/src/io/ftruncate.c
  content/assignments/mini-libc/src/io/lseek.c
  content/assignments/mini-libc/src/io/open.c
  content/assignments/mini-libc/src/io/read_write.c
  content/assignments/mini-libc/src/io/truncate.c
  content/assignments/mini-libc/src/mm/malloc.c
  content/assignments/mini-libc/src/mm/mem_list.c
  content/assignments/mini-libc/src/mm/mmap.c
  content/assignments/mini-libc/src/process/exit.c
  content/assignments/mini-libc/src/stat/fstat.c
  content/assignments/mini-libc/src/stat/fstatat.c
  content/assignments/mini-libc/src/stat/stat.c
  content/assignments/mini-libc/src/string/string.c
  content/assignments/mini-libc/src/syscall.c
  content/assignments/mini-libc/tests/Makefile
  content/assignments/mini-libc/tests/io/Makefile
  content/assignments/mini-libc/tests/memory/Makefile
  content/assignments/mini-libc/tests/process/Makefile
  content/assignments/mini-libc/tests/run_all_tests.sh
  content/assignments/mini-libc/tests/test_io.c
Labels: area/code, kind/improve, topic/software-stack, area/assignment

#242 assignments/mini-libc: Use `errno` in implementation of `write()` and `read()`
  content/assignments/mini-libc/src/io/read_write.c
Labels: student-contrib, kind/fix, topic/software-stack, area/assignment

#219 data/lecture: add new lines for a demo + update the allocation demo
  content/chapters/data/lecture/demo/alloc_physical/alloc.c
  content/chapters/data/lecture/demo/proc_storage/decl_var.c
  content/chapters/data/lecture/demo/proc_storage/write_var.c
Labels: area/code, kind/improve, topic/data

#321 `asgn/mini-libc`: Use consistent spacing for TODOs
  content/assignments/mini-libc/src/string/string.c
Labels: area/code, kind/improve, topic/software-stack, area/assignment

#275 compute/lecture: Update unikraft demo
  content/chapters/compute/lecture/demo/cooperative-scheduling/app-schedule-threads/kraft.yaml
  content/chapters/compute/lecture/demo/cooperative-scheduling/app-schedule-threads/main.c
  content/chapters/compute/lecture/demo/cooperative-scheduling/cleanup.sh
  content/chapters/compute/lecture/demo/cooperative-scheduling/do.sh
  content/chapters/compute/lecture/demo/cooperative-scheduling/run.sh
  content/chapters/compute/lecture/demo/cooperative-scheduling/setup.sh
  content/chapters/compute/lecture/demo/cooperative-scheduling/workdir/apps/app-schedule-threads/.config_coop
  content/chapters/compute/lecture/demo/cooperative-scheduling/workdir/apps/app-schedule-threads/.config_nocoop
  content/chapters/compute/lecture/demo/cooperative-scheduling/workdir/apps/app-schedule-threads/.gitignore
  content/chapters/compute/lecture/demo/cooperative-scheduling/workdir/apps/app-schedule-threads/Config.uk
  content/chapters/compute/lecture/demo/cooperative-scheduling/workdir/apps/app-schedule-threads/Makefile
  content/chapters/compute/lecture/demo/cooperative-scheduling/workdir/apps/app-schedule-threads/Makefile.uk
  content/chapters/compute/lecture/demo/cooperative-scheduling/workdir/apps/app-schedule-threads/main.c
  content/chapters/compute/lecture/slides/scheduling-algorithms.md
Labels: student-contrib, area/content, area/code, kind/new, kind/improve, topic/compute

#326 workflows: Use main branch
  .github/workflows/actions.yml
  .github/workflows/deployment.yml
  .github/workflows/os-runner.yml
Labels: area/infra, kind/fix

#281 assignments: add parallel graph homework
  content/assignments/parallel-graph/README.md
  content/assignments/parallel-graph/src/.gitignore
  content/assignments/parallel-graph/src/Makefile
  content/assignments/parallel-graph/src/os_graph.c
  content/assignments/parallel-graph/src/os_graph.h
  content/assignments/parallel-graph/src/os_list.c
  content/assignments/parallel-graph/src/os_list.h
  content/assignments/parallel-graph/src/os_threadpool.c
  content/assignments/parallel-graph/src/os_threadpool.h
  content/assignments/parallel-graph/src/parallel.c
  content/assignments/parallel-graph/src/serial.c
  content/assignments/parallel-graph/tests/.gitignore
  content/assignments/parallel-graph/tests/Makefile
  content/assignments/parallel-graph/tests/checker.py
  content/assignments/parallel-graph/tests/in/test1.in
  content/assignments/parallel-graph/tests/in/test10.in
  content/assignments/parallel-graph/tests/in/test11.in
  content/assignments/parallel-graph/tests/in/test12.in
  content/assignments/parallel-graph/tests/in/test13.in
  content/assignments/parallel-graph/tests/in/test14.in
  content/assignments/parallel-graph/tests/in/test15.in
  content/assignments/parallel-graph/tests/in/test16.in
  content/assignments/parallel-graph/tests/in/test17.in
  content/assignments/parallel-graph/tests/in/test18.in
  content/assignments/parallel-graph/tests/in/test19.in
  content/assignments/parallel-graph/tests/in/test2.in
  content/assignments/parallel-graph/tests/in/test20.in
  content/assignments/parallel-graph/tests/in/test3.in
  content/assignments/parallel-graph/tests/in/test4.in
  content/assignments/parallel-graph/tests/in/test5.in
  content/assignments/parallel-graph/tests/in/test6.in
  content/assignments/parallel-graph/tests/in/test7.in
  content/assignments/parallel-graph/tests/in/test8.in
  content/assignments/parallel-graph/tests/in/test9.in
Labels: kind/new, kind/improve, topic/compute, area/assignment

#328 `asg/minishell`: Improve source code Makefile
  content/assignments/minishell/src/Makefile
Labels: area/code, kind/improve, topic/io, area/assignment

#324 asg/minishell: Remove bonus
  content/assignments/minishell/README.md
Labels: kind/improve, topic/io, area/assignment

#307 assignments: Add Async Web Server
  content/assignments/async-web-server/README.md
  content/assignments/async-web-server/skel/.gitignore
  content/assignments/async-web-server/src/.gitignore
  content/assignments/async-web-server/src/Makefile
  content/assignments/async-web-server/src/aws.c
  content/assignments/async-web-server/src/aws.h
  content/assignments/async-web-server/src/http-parser/.gitignore
  content/assignments/async-web-server/src/http-parser/CONTRIBUTIONS
  content/assignments/async-web-server/src/http-parser/CPPLINT.cfg
  content/assignments/async-web-server/src/http-parser/LICENSE-MIT
  content/assignments/async-web-server/src/http-parser/Makefile
  content/assignments/async-web-server/src/http-parser/README.md
  content/assignments/async-web-server/src/http-parser/http_parser.c
  content/assignments/async-web-server/src/http-parser/http_parser.h
  content/assignments/async-web-server/src/http-parser/samples/.gitignore
  content/assignments/async-web-server/src/http-parser/samples/CPPLINT.cfg
  content/assignments/async-web-server/src/http-parser/samples/GNUmakefile
  content/assignments/async-web-server/src/http-parser/samples/Makefile
  content/assignments/async-web-server/src/http-parser/samples/README
  content/assignments/async-web-server/src/http-parser/samples/test_get_request_path.c
  content/assignments/async-web-server/src/http-parser/test.c
  content/assignments/async-web-server/src/samples/.gitignore
  content/assignments/async-web-server/src/samples/CPPLINT.cfg
  content/assignments/async-web-server/src/samples/Makefile
  content/assignments/async-web-server/src/samples/README
  content/assignments/async-web-server/src/samples/epoll_echo_server.c
  content/assignments/async-web-server/src/samples/http_reply_once.c
  content/assignments/async-web-server/src/utils/debug.h
  content/assignments/async-web-server/src/utils/sock_util.c
  content/assignments/async-web-server/src/utils/sock_util.h
  content/assignments/async-web-server/src/utils/util.h
  content/assignments/async-web-server/src/utils/w_epoll.h
  content/assignments/async-web-server/tests/.gitignore
  content/assignments/async-web-server/tests/CPPLINT.cfg
  content/assignments/async-web-server/tests/Makefile
  content/assignments/async-web-server/tests/_test/CPPLINT.cfg
  content/assignments/async-web-server/tests/_test/Makefile
  content/assignments/async-web-server/tests/_test/run_test.sh
  content/assignments/async-web-server/tests/_test/sockop_preload.c
  content/assignments/async-web-server/tests/run_all.sh
Labels: area/infra, kind/new, kind/improve, topic/io, area/assignment

#323 `asg/mini-libc/tests`: Use available locale `LC_ALL=C`
  content/assignments/mini-libc/tests/run_all_tests.sh
Labels: area/code, kind/fix, topic/software-stack, area/assignment

#322 `asg/mini-libc`: Include `internal/syscall.h` in stat files
  content/assignments/mini-libc/src/stat/fstat.c
  content/assignments/mini-libc/src/stat/stat.c
Labels: area/code, kind/improve, kind/fix, topic/software-stack, area/assignment

#287 app-interact/lab: Add quizzes to the os-cloud section #141
  content/chapters/app-interact/lab/content/os-cloud.md
  content/chapters/app-interact/lab/quiz/vm-creation.md
Labels: area/content, area/quiz, kind/new, kind/improve, topic/app-interact

#327 asg/mini-libc: Use absolute path for SRC_PATH
  content/assignments/mini-libc/tests/Makefile
Labels: area/assignment

#313 workflows: Add PR deployment action
  .github/workflows/pr-deployment.yml
Labels: WIP, area/infra, kind/new

#339 data: Fix typo in working-memory.md
  content/data/lab/content/working-memory.md
Labels: area/content
