Repository open-education-hub/operating-systems, pull requests merged in 2023-01, with the labels that each got.

#94 {data,software-stack}/lab: Update `ltrace` usage
  content/chapters/data/lab/content/investigate-memory.md
  content/chapters/software-stack/lab/content/libcall-syscall.md
  content/chapters/software-stack/lab/support/high-level-lang/Makefile
  content/chapters/software-stack/lab/support/libcall-syscall/Makefile
  content/common/makefile/single.mk
Labels: student-contrib, area/content, area/infra, kind/improve, topic/software-stack, topic/data

#100 config.yaml: Configure app-interact lecture
  config.yaml
Labels: area/infra, kind/improve

#101 config.yaml: Fix typo in `Application-Interaction` slides path
  config.yaml
Labels: area/infra, kind/fix, topic/app-interact
