Repository open-education-hub/operating-systems, pull requests merged in 2023-03, with the labels that each got.

#148 io/lab: Explain the need for loops when using read/write
  content/chapters/io/lab/content/file-descriptors.md
Labels: area/content, kind/improve, topic/io

#154 infra/labeler: Fix labeller interval and script
  .github/scripts/add-labels.js
  .github/workflows/labeler.yml
Labels: area/infra, kind/fix

#146 io/lab: Update now we pipe
  content/chapters/io/lab/content/pipes.md
  content/chapters/io/lab/solution/pipes/.gitignore
  content/chapters/io/lab/solution/pipes/Makefile
  content/chapters/io/lab/solution/pipes/anonymous_pipe.c
  content/chapters/io/lab/support/pipes/anonymous_pipe.c
Labels: area/content, kind/improve, topic/io

#149 util: Add docker environment to run labs
  util/os-runner/Dockerfile
  util/os-runner/Makefile
  util/os-runner/README.md
  util/os-runner/config_terminal.sh
  util/os-runner/install-dmd.sh
Labels: enhancement, area/infra, kind/new

#108 software-stack/lab: Remove inline html
  content/chapters/software-stack/lab/content/modern-sw-stack.md
  content/chapters/software-stack/lab/content/overview.md
  content/chapters/software-stack/lab/media/hardware-software.svg
  content/chapters/software-stack/lab/media/modern-sw-stack.svg
  content/chapters/software-stack/lab/media/software-stack.svg
Labels: area/content, kind/fix, topic/software-stack

#156 software-stack/lab: Remove `update-repo.sh` reference
  content/chapters/software-stack/lab/content/introduction.md
Labels: area/content, kind/fix, topic/software-stack

#161 software-stack/lab: Fix syntax for intel example
  content/chapters/software-stack/lab/solution/basic-syscall/hello.asm
  content/chapters/software-stack/lab/support/basic-syscall/hello.asm
Labels: student-contrib, kind/fix, topic/software-stack

#162 lab/software-stack: Fix typo
  content/chapters/software-stack/lab/support/basic-syscall/hello.asm
  content/chapters/software-stack/lab/support/basic-syscall/hello.s
Labels: student-contrib, kind/fix, topic/software-stack

#163 lab/software-stack: Fix typos and grammar errors
  content/chapters/software-stack/lab/content/app-investigate.md
  content/chapters/software-stack/lab/content/arena.md
  content/chapters/software-stack/lab/content/basic-syscall.md
  content/chapters/software-stack/lab/content/high-level-lang.md
  content/chapters/software-stack/lab/content/libc.md
  content/chapters/software-stack/lab/content/libcall-syscall.md
  content/chapters/software-stack/lab/content/modern-sw-stack.md
  content/chapters/software-stack/lab/content/static-dynamic.md
  content/chapters/software-stack/lab/content/syscall-wrapper.md
Labels: student-contrib

#165 util/os-runner: Update documentation
  util/os-runner/README.md
Labels: documentation, area/infra

#172 Makefile dependency & Clean all objects and execs
  content/chapters/software-stack/lab/support/common-functions/Makefile
Labels: student-contrib, area/code, kind/improve

#176 compute/lab: Fix links in content files
  content/chapters/compute/lab/content/arena.md
  content/chapters/compute/lab/content/processes.md
  content/chapters/compute/lab/content/scheduling.md
Labels: area/content, kind/fix, topic/compute

#173 Add python alternative for ltrace/strace
  util/os-runner/Dockerfile
  util/os-runner/config_terminal.sh
Labels: student-contrib, area/content, kind/improve, topic/software-stack

#110 Add `assignments/` folder skeleton
  assignments/async-web-server/README.md
  assignments/async-web-server/skel/.gitignore
  assignments/memory-allocator/README.md
  assignments/memory-allocator/skel/.gitignore
  assignments/mini-libc/README.md
  assignments/mini-libc/skel/.gitignore
  assignments/minishell/README.md
  assignments/minishell/skel/.gitignore
  assignments/parallel-graph/README.md
  assignments/parallel-graph/skel/.gitignore
  config.yaml
Labels: kind/new, topic/software-stack, topic/data, topic/compute, topic/io, topic/app-interact, area/assignment

#199 Increase connect-timeout in dmd install script
  util/os-runner/install-dmd.sh
Labels: area/infra, kind/fix

#200 data/lab: Drop caches before benchmarking mmap_copy and copy
  content/chapters/data/lab/content/process-memory.md
  content/chapters/data/lab/support/copy/benchmark_cp.sh
Labels: area/content, area/code, kind/improve, topic/data

#196 data/lab: Explain the perm argument of the open() syscall
  content/chapters/data/lab/content/process-memory.md
Labels: area/content, kind/improve, topic/data

#201 data/lab: Move "Memory Support" section to the Arena
  content/chapters/data/lab/content/arena.md
  content/chapters/data/lab/content/memory-support.md
  content/chapters/data/lab/content/overview.md
Labels: area/content, topic/data

#203 data/lab: Add quizzes
  content/chapters/data/lab/content/investigate-memory.md
  content/chapters/data/lab/content/process-memory.md
  content/chapters/data/lab/quiz/half-page.md
  content/chapters/data/lab/quiz/malloc-brk.md
  content/chapters/data/lab/quiz/malloc-mmap.md
  content/chapters/data/lab/quiz/memory-leaks.md
  content/chapters/data/lab/quiz/mmap-file.md
  content/chapters/data/lab/quiz/operators.md
  content/chapters/data/lab/quiz/page-allocation.md
  content/chapters/data/lab/quiz/static-dynamic.md
  content/chapters/data/lab/quiz/thread-memory.md
  content/chapters/data/lab/quiz/valgrind-leaks.md
Labels: area/quiz, kind/new, topic/data

#195 Update ltrace version in os-runner docker image.
  util/os-runner/Dockerfile
Labels: area/infra, kind/fix

#208 data/lab: Reintroduce "Memory Granularity" quiz
  content/chapters/data/lab/content/process-memory.md
  content/chapters/data/lab/quiz/memory-granularity.md
Labels: area/content, area/quiz, kind/fix, topic/data

#213 assignments: Move `assignments/` folder inside `content/`
  .github/labeler.yml
  content/assignments/async-web-server/README.md
  content/assignments/async-web-server/skel/.gitignore
  content/assignments/memory-allocator/README.md
  content/assignments/memory-allocator/skel/.gitignore
  content/assignments/mini-libc/README.md
  content/assignments/mini-libc/skel/.gitignore
  content/assignments/minishell/README.md
  content/assignments/minishell/skel/.gitignore
  content/assignments/parallel-graph/README.md
  content/assignments/parallel-graph/skel/.gitignore
Labels: area/assignment

#177 Use `student@os` consistently as part of the prompt in code snippets
  content/chapters/data/lab/content/investigate-memory.md
  content/chapters/data/lab/content/working-memory.md
  content/chapters/io/lecture/demo/devices/README.md
  content/chapters/io/lecture/demo/optimizations/README.md
  content/chapters/io/lecture/slides/IPC.md
  content/chapters/io/lecture/slides/optimizations.md
  content/chapters/software-stack/lab/content/app-investigate.md
Labels: area/content, kind/fix, topic/data, topic/io, topic/app-interact

#210 Move CPPLINT.cfg in repository root directory
  CPPLINT.cfg
Labels: area/infra, kind/fix

#178 Fix trailing white spaces
  content/chapters/app-interact/lab/content/os-cloud.md
  content/chapters/data/lab/content/process-memory.md
  content/chapters/data/lab/content/working-memory.md
  content/chapters/io/lab/content/arena.md
  content/chapters/io/lab/content/file-mappings.md
  content/chapters/io/lab/content/io-internals.md
  content/chapters/io/lab/content/redirections.md
  content/chapters/io/lab/content/remote-io.md
  content/chapters/io/lab/quiz/mmap-read-write-benchmark.md
  content/chapters/io/lab/quiz/pipe-ends.md
  content/chapters/io/lecture/demo/IPC/README.md
  content/chapters/io/lecture/demo/devices/README.md
  content/chapters/io/lecture/demo/optimizations/README.md
  content/chapters/io/lecture/slides/devices.md
  content/chapters/io/lecture/slides/optimizations.md
Labels: area/content, kind/fix, topic/data, topic/io, topic/app-interact

#212 Update configuration for checkpatch
  .github/checkpatch.conf
Labels: area/infra, kind/improve

#230 .github/workflows: Disable checking of executable bit on shell scripts
  .github/workflows/super-linter.yml
Labels: area/infra, kind/improve

#224 infra/labeler: Fix pull request labeler workflow
  .github/labeler.yml
  .github/scripts/add-labels.js
  .github/workflows/labeler.yml
Labels: area/infra, kind/improve

#235 util/os-runner: Add colored help menu to makefile
  util/os-runner/Makefile
  util/os-runner/README.md
Labels: area/infra, kind/improve

#237 infra/labeler: Change `kind/improvement` to `kind/improve`
  .github/scripts/add-labels.js
Labels: area/infra, kind/fix

#239 compute/lecture: Fix typo from `thread` to `process`
  content/chapters/compute/lecture/slides/processes.md
Labels: area/content, kind/fix, topic/compute

#246 Fix path to `jemalloc` library
  content/chapters/data/lab/content/investigate-memory.md
Labels: area/content, kind/fix, topic/data

#166 data/lab: Add memory security section
  content/chapters/data/lab/content/arena.md
  content/chapters/data/lab/content/memory-security.md
  content/chapters/data/lab/quiz/bypass-canary.md
  content/chapters/data/lab/quiz/memory-aslr.md
  content/chapters/data/lab/quiz/memory-regions-vars.md
  content/chapters/data/lab/quiz/memory-stack-protector.md
  content/chapters/data/lab/quiz/stack-layout.md
  content/chapters/data/lab/quiz/string-buff-over.md
  content/chapters/data/lab/quiz/string-strcpy.md
  content/chapters/data/lab/support/memory-security/.gitignore
  content/chapters/data/lab/support/memory-security/Makefile
  content/chapters/data/lab/support/memory-security/Makefile.aslr
  content/chapters/data/lab/support/memory-security/array_leak.c
  content/chapters/data/lab/support/memory-security/aslr.c
  content/chapters/data/lab/support/memory-security/bo_write.c
  content/chapters/data/lab/support/memory-security/bo_write_practice.c
  content/chapters/data/lab/support/memory-security/buff_leak.c
  content/chapters/data/lab/support/memory-security/stack_protector.c
  content/chapters/data/lab/support/memory-security/string_leak.c
Labels: area/content, area/code, area/quiz, kind/new, kind/improve, topic/data

#247 Add an indication to build a static executable
  content/chapters/data/lab/content/process-memory.md
  content/common/makefile/defs.mk
  content/common/makefile/single.mk
Labels: area/content, kind/improve, topic/data
