Repository open-education-hub/operating-systems, pull requests merged in 2023-05, with the labels that each got.

#290 compute/lab: Add minor and major page fault task
  content/chapters/compute/lab/content/arena.md
  content/chapters/compute/lab/content/copy-on-write.md
  content/chapters/compute/lab/support/page-faults/.gitignore
  content/chapters/compute/lab/support/page-faults/Makefile
  content/chapters/compute/lab/support/page-faults/page_faults.c
Labels: area/content, area/code, kind/new, kind/improve, topic/compute

#291 compute/lab: Add user-level threads section
  config.yaml
  content/chapters/compute/lab/content/overview.md
  content/chapters/compute/lab/content/user-level-threads.md
  content/chapters/compute/lab/quiz/fiber-strace.md
  content/chapters/compute/lab/quiz/sleeping-on-a-fiber.md
  content/chapters/compute/lab/support/user-level-threads/.gitignore
  content/chapters/compute/lab/support/user-level-threads/CMakeLists.txt
  content/chapters/compute/lab/support/user-level-threads/CPPLINT.cfg
  content/chapters/compute/lab/support/user-level-threads/simple.cc
  content/chapters/compute/lab/support/user-level-threads/sum.cc
  content/chapters/compute/lab/support/user-level-threads/threads_and_fibers.cc
  content/chapters/compute/lab/support/user-level-threads/yield_barrier.cc
  content/chapters/compute/lab/support/user-level-threads/yield_launch.cc
Labels: area/content, area/code, kind/new, topic/compute

#295 `infra/cpplint`: Disable `include_subdir`
  CPPLINT.cfg
Labels: area/infra, kind/improve

#294 `compute/lab`: Added third argument for strtok_r in mini-shell.c
  content/chapters/compute/lab/support/mini-shell/mini_shell.c
Labels: area/code, topic/compute

#111 Add `minishell` assignment statement
  assignments/minishell/README.md
Labels: kind/new, kind/improve, topic/compute, topic/io, area/assignment

#251 Add minishell checker
  content/assignments/minishell/checker/.gitignore
  content/assignments/minishell/checker/_test/inputs/test_01.txt
  content/assignments/minishell/checker/_test/inputs/test_02.txt
  content/assignments/minishell/checker/_test/inputs/test_03.txt
  content/assignments/minishell/checker/_test/inputs/test_04.txt
  content/assignments/minishell/checker/_test/inputs/test_05.txt
  content/assignments/minishell/checker/_test/inputs/test_06.txt
  content/assignments/minishell/checker/_test/inputs/test_07.txt
  content/assignments/minishell/checker/_test/inputs/test_08.txt
  content/assignments/minishell/checker/_test/inputs/test_09.txt
  content/assignments/minishell/checker/_test/inputs/test_10.txt
  content/assignments/minishell/checker/_test/inputs/test_11.txt
  content/assignments/minishell/checker/_test/inputs/test_12.txt
  content/assignments/minishell/checker/_test/inputs/test_13.txt
  content/assignments/minishell/checker/_test/inputs/test_14.txt
  content/assignments/minishell/checker/_test/inputs/test_15.txt
  content/assignments/minishell/checker/_test/inputs/test_16.txt
  content/assignments/minishell/checker/_test/inputs/test_17.txt
  content/assignments/minishell/checker/_test/inputs/test_18.txt
  content/assignments/minishell/checker/_test/refs/test_18.ref
  content/assignments/minishell/checker/_test/run_test.sh
  content/assignments/minishell/checker/_test/test_lib.sh
  content/assignments/minishell/checker/run_all.sh
Labels: kind/new, area/assignment

#252 assignment/minishell: Add src for minishell
  content/assignments/minishell/skel/.gitignore
  content/assignments/minishell/src/Makefile
  content/assignments/minishell/src/cmd.c
  content/assignments/minishell/src/cmd.h
  content/assignments/minishell/src/main.c
  content/assignments/minishell/src/utils.c
  content/assignments/minishell/src/utils.h
Labels: kind/new, area/assignment

#304 io/lab: Fix typos and add minor improvements.
  content/chapters/io/lab/content/overview.md
  content/chapters/io/lab/content/redirections.md
  content/chapters/io/lab/media/file-descriptors.svg
  content/chapters/io/lab/support/pipes/anonymous_pipe.c
  content/chapters/io/lab/support/redirect/redirect.c
Labels: area/content, area/code, kind/improve, kind/fix, topic/io

#306 {io,data}/lab: Fix broken links
  content/chapters/data/lab/content/investigate-memory.md
  content/chapters/io/lab/content/remote-io.md
Labels: area/content, topic/data, topic/io

#288 app-interact/lab: Add oneko as alternative to xeyes #142
  content/chapters/app-interact/lab/content/arena.md
  content/chapters/app-interact/lab/quiz/timer.md
Labels: area/content, area/quiz, kind/new, kind/improve, topic/app-interact

#309 app-interact/lab: Fix broken quiz links and SVG image
  content/chapters/app-interact/lab/content/os-cloud.md
  content/chapters/app-interact/lab/media/containers-vs-vms.svg
Labels: area/content, kind/improve, kind/fix, topic/app-interact

#308 io/lab: Fix typos
  content/chapters/io/lab/content/async-io.md
  content/chapters/io/lab/content/beyond-network-sockets.md
  content/chapters/io/lab/content/client-server-model.md
  content/chapters/io/lab/content/io-internals.md
  content/chapters/io/lab/content/local-io-in-action.md
  content/chapters/io/lab/content/networking-101.md
  content/chapters/io/lab/content/pipes.md
  content/chapters/io/lab/content/redirections.md
  content/chapters/io/lab/content/remote-io.md
  content/chapters/io/lab/quiz/fewer-than-2-copies.md
Labels: student-contrib, area/content, area/quiz, kind/fix, topic/io
